.wrapper {
    width: 100vw;
    height: 100vh;
    background: #fff url(f1.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    font-size: 3em;
    border: none;
    padding: 10px;
}